
/2dprojectv2/Library
/2dprojectv2/Logs
/2dprojectv2/Packages
/2dprojectv2/Projectsettings
/2dprojectv2/Temp
/2dprojectv2/UserSettings

/2dprototype/Library
/2dprototype/Logs
/2dprototype/Packages
/2dprototype/Projectsettings
/2dprototype/Temp
/2dprototype/UserSettings